<% provide(:title, @presenter.title) %>

<% cache @presenter.cache_key do %>
<div class="row">
  <aside class="span4">
    <section>
      <%= gravatar_for @presenter.user %>
      <h1><%= @presenter.user.name %></h1>
      <span><%= link_to "view my profile", @presenter.user %></span>
      <span><b>Microposts:</b> <%= @presenter.user.microposts.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% if @presenter.users.any? %>
        <div class="user_avatars">
          <% @presenter.users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="span8">
    <h3><%= @presenter.subtitle %></h3>
    <% if @presenter.users.any? %>
      <ul class="users">
        <%= render collection: @presenter.users, partial: 'users/user' %>
      </ul>
      <%= will_paginate @presenter.users %>
    <% end %>
  </div>
</div>
<% end %>
